body{
    background-color: #b4b4b4;
    overflow: hidden;
}
.contact-us-section {
    text-align: center;
    margin: 200px auto;
    padding: 100px;
    max-width: 600px;
    background-color: rgb(250, 250, 250);
    border-radius: 40px;
}
.contact-us-section h2 {
    color: #333;
}
.contact-us-section p {
    color: #666;
    margin-bottom: 40px;
}
.contact-us-section ul {
    list-style-type: none;
    padding: 0;
}
.contact-us-section li {
    margin-bottom: 30px;
}
.contact-us-section a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
.contact-us-section a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .contact-us-section {
        margin: 150px auto;
        padding: 50px;
    }
    .contact-us-section li {
        margin-bottom: 20px;
    }
}